/* WIRECARD AG */
/* -----------------------------------------------------
[Paging Stylesheet]
Project:		Wirecard Enterprise Portal
Version:		1.0
Last Change:	04.02.2009
----------------------------------------------------- */

div.paging {
	background: #E2ECF6;
	text-align: center; 
	font-weight: bold;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 20px;
	text-align: center;
}
	div.paging img#counting-waiting-img {
       padding-left: 10px;
    }
	div.paging table {
		width: 99%;
		white-space: nowrap;
		margin: 3px auto;
	}
	div.paging a {
		color: #1d3770;
		cursor: pointer;
		text-decoration: none;
		margin-left: 2px;
	    margin-right: 2px;
	}
		div.paging a.active {
		    border: solid #1D3770 1px;
		    font-weight: bold;
		    margin: 0 1px;
		    padding-left: 1px;
		}
	div.paging td {
		color: #1d3770;
		padding: 1px;
	}
		div.paging td.range {
			text-align: left;
			height: 25px;
			white-space: nowrap;
		}
		div.paging td.pages {
			white-space: nowrap;
		}
		div.paging td.per_page {
			text-align: right;
			white-space: nowrap;
		}
			div.paging td.pages a.first {
			    background: transparent url( ../img/arrow_first_blue.gif ) no-repeat left center;
			    padding-left: 8px;
			}
			div.paging td.pages a.previous {
			    background: transparent url( ../img/arrow_left_blue.gif ) no-repeat left center;
			    padding-left: 8px;
			}
			div.paging td.pages a.next {
			    background: transparent url( ../img/arrow_right_blue.gif ) no-repeat right center;
			    padding-right: 8px;
			}
			div.paging td.pages a.last {
			    background: transparent url( ../img/arrow_last_blue.gif ) no-repeat right center;
			    padding-right: 8px;
			}